.page {
  overflow: auto;
  padding-top: 20px;
  @include tablet {
    background: linear-gradient(to right, #0057ff 50%, #1c1c1c 50%);
  }
}

.canvas {
  width: 100vw;
  @include tablet {
    width: 50vw;
  }
}

.container {
  max-width: calc(100% - 30px);
  width: 100vw;
  margin: 0 auto;
}

.block_list {
  display: block;
  margin: 46px auto 28px;
  @include tablet {
    max-width: 680px;
  }
}

.head {
  text-align: center;
  padding: 0;
  margin: 0 0 15px 0;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
  text-transform: uppercase;
  color: #fff;
  @include desktop {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }
}

.title {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-transform: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  height: 100px;
  margin: 20px auto 0;
  @include tablet {
    max-width: 680px;
  }
}

.card {
  background: #0057ff;
  border-radius: 10px;
  padding: 20px 11px 20px 15px;
  max-width: calc(100% / 2 - 10px);
  width: 100vw;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  &:nth-child(2n) {
    margin-right: 0;
  }
  @include tablet {
    max-width: 246px;
    border-radius: 0;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    @include hover {
      box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.5);
      background-color: #1c1c1c;
    }
    &:active {
      box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.5);
      background-color: #1c1c1c;
    }
  }
}

.row {
  display: flex;
  align-items: center;
  &:nth-child(2n) {
    margin-top: auto;
  }
}

.icon {
  height: 17px;
  width: 15px;
}

.icon_mail {
  max-width: 22px;
  width: 100vw;
  height: 15px;
  &_wrapper {
    max-width: 22px;
    width: 100vw;
    height: 15px;
  }
}

.icon_wrapper {
  max-height: 17px;
  height: 100vh;
  max-width: 20px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_messager {
  height: 28px;
  max-width: 28px;
  width: 100vw;
}

.icon_messager_wrapper {
  height: 28px;
  max-width: 28px;
  width: 100vw;
}

.icon_time {
  height: 15px;
  max-width: 15px;
  width: 100vw;
  &_wrapper {
    height: 15px;
    max-width: 15px;
    width: 100vw;
  }
}

.days {
  padding: 0;
  margin: 0;
}

.time_info {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  margin-top: 5px;
  text-transform: none;
}

.times {
  padding: 0;
  margin: 0;
}

.messager_link {
  margin-right: 15px;
  transition: 0.3s;
  @include hover {
    opacity: 0.5;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

.name {
  padding: 0;
  margin: 0 0 0 15px;
  text-transform: none;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  &_margin {
    margin: 0;
    margin-bottom: 10px;
  }
}

.link {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 28px;
  color: #fff;
  margin-top: 12px;
  &_email {
    font-family: "Montserrat";
    text-transform: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
  }
}

.dark {
  @include tablet {
    color: #1c1c1c;
  }
}

.digital {
  @include tablet {
    color: #fff;
  }
}
