.overlay_calss {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  @include desktop {
    height: 100%;
    width: 100%;
    top: auto;
    transform: translate(0);
  }
}

.header {
  position: absolute !important;
  top: 30px !important;
  left: 50% !important;
  transform: translateX(-50%);
}

.digital {
  color: #fff !important;
}

.form {
  position: relative;
  max-width: 338px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  padding: 30px 15px 30px 30px;
  background: #0057ff;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: 10px 0px 0px 10px;
  align-items: flex-start;
  @include desktop {
    height: 100%;
    max-width: 100%;
    border-radius: 0;
    align-items: center;
    justify-content: center;
  }
}

.content {
  @include desktop {
    max-width: 627px;
    width: 100vw;
    position: relative;
  }
}

.button_close {
  @include buttonDefault;
  position: absolute;
  top: 20px;
  left: 20px;
  height: 20px;
  max-width: 20px;
  width: 100vw;
  transition: 0.3s;
  @include hover {
    opacity: 0.5;
  }
  @include desktop {
    top: -30px;
    left: auto;
    right: 0;
  }
}

.line {
  max-width: 20px;
  width: 100vw;
  height: 2px;
  display: block;
  background-color: #fff;
  &:nth-child(1) {
    transform: rotate(-45deg);
  }

  &:nth-child(2) {
    transform: translateY(-2px) rotate(45deg);
  }
  @include desktop {
    height: 4px;
    max-width: 45px;
    border-radius: 30px;
    &:nth-child(2) {
      transform: translateY(-3px) rotate(45deg);
    }
  }
}

.headForm {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #fff;
  text-transform: none;
  margin: 0 0 36px 30px;
  @include desktop {
    font-size: 28px;
    line-height: 34px;
  }
}

.label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  display: flex;
}

.icon_person {
  max-width: 12px;
  width: 100vw;
  height: 14px;
  &_wrapper {
    max-width: 12px;
    width: 100vw;
    height: 14px;
    margin-right: 23px;
  }
  @include desktop {
    max-width: 22px;
    height: 24px;
    &_wrapper {
      max-width: 22px;
      height: 24px;
    }
  }
}

.icon_phone {
  max-width: 12px;
  width: 100vw;
  height: 13px;
  &_wrapper {
    max-width: 12px;
    width: 100vw;
    height: 13px;
    margin-right: 23px;
  }
  @include desktop {
    max-width: 22px;
    height: 23px;
    &_wrapper {
      max-width: 22px;
      height: 23px;
    }
  }
}

.icon_circl {
  max-width: 13px;
  width: 100vw;
  height: 13px;
  &_wrapper {
    max-width: 13px;
    width: 100vw;
    height: 13px;
    margin-right: 23px;
  }
  @include desktop {
    max-width: 21px;
    height: 21px;
    &_wrapper {
      max-width: 21px;
      height: 21px;
    }
  }
}

.loading_file {
  display: flex;
  margin-bottom: 20px;
  @include desktop {
    justify-content: center;
  }
}

.loading_text {
  font-size: 11px;
  line-height: 19px;
  text-decoration: underline;
  transition: 0.3s;
  @include hover {
    opacity: 0.5;
  }
  @include desktop {
    text-align: center;
    font-size: 11px;
    line-height: 13px;
  }
}

.icon_clip {
  max-width: 11px;
  width: 100vw;
  height: 12px;
  &_wrapper {
    max-width: 11px;
    width: 100vw;
    height: 12px;
    margin-right: 23px;
  }
  @include desktop {
    max-width: 16px;
    height: 18px;
    &_wrapper {
      max-width: 16px;
      height: 18px;
      margin-right: 10px;
    }
  }
}

.input {
  @include buttonDefault;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  width: 100%;
  &::placeholder {
    color: #fff;
  }
  @include desktop {
    font-size: 16px;
    line-height: 20px;
  }
}

.privacy {
  display: flex;
  @include desktop {
    max-width: 253px;
    width: 100vw;
    margin: 0 auto;
    text-align: center;
  }
}

.checkbox {
  margin-right: 18px;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 10px;
  line-height: 18px;
  color: rgba($color: #fff, $alpha: 0.5);
}
.link {
  color: #fff;
  text-decoration: underline;
  transition: 0.3s;
  @include hover {
    opacity: 0.5;
  }
}

.btn {
  @include buttonDefault;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05),
    inset 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 100%;
  padding: 25px 0;
  margin-bottom: 29px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    z-index: -1;
    display: block;
    border-radius: 10px;
    background-color: rgba(214, 214, 214, 1);
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: calc(100% - 10px);
    margin: 0 auto;
    transition: 0.3s;
  }
  @include hover {
    box-shadow: 0px 4px 20px rgba(214, 214, 214, 0.5);
    &::after {
      bottom: 0;
    }
  }
  @include desktop {
    max-width: 328px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
