.page {
  background-color: #0057ff;
}
.container {
  max-width: calc(100% - 30px);
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  // overflow: hidden;
  padding: 0;
  @include tablet {
    max-width: 680px;
  }
  @include desktop {
    max-width: 90vw;
    padding: 40px;
    margin: auto;
  }
}

.block_list {
  display: block;
  margin: 46px auto 28px;
}

.logo {
  display: inline-block;
}

.dark_logo {
  color: #1c1c1c;
}

.dark {
  color: #1c1c1c;
  font-size: 44px;
}

.digital {
  color: #fff;
  font-size: 44px;
}

.description {
  color: #fff;
  transform: translateX(50%);
}

.content {
  margin-top: 43px;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.text_head {
  padding: 0;
  margin: 0 10px 0;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.description_none {
  display: none;
}

.content_description {
  margin: 0 0 24px 0;
  padding: 0;
  @include body1-mobile(#fff);
  text-transform: none;
  text-align: center;
  @include desktop {
    @include body1(#fff);
    max-width: 630px;
    margin: 0 auto 50px;
  }
}

.services_list {
  max-width: calc(100% - 32px);
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
  @include tablet {
    justify-content: flex-start;
    max-width: 680px;
  }
  @include desktop {
    max-width: 1192px;
  }
}

.btn {
  max-width: 100%;
  height: 90px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 24px !important;
  line-height: 32px !important;
  @include tablet {
    max-width: calc(100% / 3 - 10px);
    margin-right: 10px;
  }
  @include desktop {
    max-width: calc(100% / 3 - 30px);
    height: 139px;
    margin-right: 30px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
