.page {
  padding-top: 20px;
  background-color: #1c1c1c;
  overflow: auto !important;
  @include tablet {
    background-color: #0057ff;
  }
}
.container {
  max-width: calc(100% - 30px);
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  // overflow: hidden;
  padding: 0;
  @include tablet {
    max-width: 680px;
  }
  @include desktop {
    max-width: 90vw;
    padding: 40px;
    margin: auto;
  }
}

.block_list {
  display: block;
  margin: 46px auto 28px;
}

.logo {
  display: inline-block;
}

.dark_logo {
  color: #0057ff;
  @include tablet {
    color: #1c1c1c;
  }
}

.white_logo {
  color: #fff;
}

.dark {
  color: #0057ff;
  font-size: 44px;
}

.digital {
  color: #0057ff;
  font-size: 30px;
  @include tablet {
    font-size: 45px;
    line-height: 45px;
    color: #fff;
  }
}

.description {
  color: #fff;
  transform: translateX(50%);
}

.content {
  margin-top: 43px;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.text_head {
  padding: 0;
  margin: 0 10px 0 0;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.description_none {
  display: none;
}

.content_description {
  margin: 0 0 24px 0;
  padding: 0;
  @include body1-mobile(#fff);
  text-transform: none;
  text-align: center;
  display: none;
  @include tablet {
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    max-width: 544px;
    margin: 0 auto 24px;
  }
  @include desktop {
    @include body1(#fff);
    max-width: 630px;
    margin: 0 auto 50px;
  }
}

.services_list {
  max-width: calc(100% - 32px);
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
  @include tablet {
    justify-content: space-between;
    max-width: 680px;
  }
  @include desktop {
    max-width: 1192px;
  }
}

.btn {
  max-width: 100%;
  width: 100vw;
  padding: 14px 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  @include hover {
    background-color: #0057ff;
    color: #fff;
  }
  &:active {
    background-color: #0057ff;
    color: #fff;
  }
  @include tablet {
    max-width: calc(33% - 7.5px);
    margin-bottom: 15px;
  }
}
