.block {
  position: relative;
  z-index: 2;
  max-width: 100%;
  width: 100vw;
  margin: 0 auto;
  top: calc(50% - 40px);
  transform: translateY(-50%);
  @include tablet {
    max-width: 680px;
  }

  @include desktop {
    max-width: 100%;
  }
}

.head {
  max-width: calc(100% - 30px);
  width: 100vw;
  margin: 0 auto 15px auto;
  padding: 0;
  text-align: center;
  @include headline1-mobile(#fff);

  @include tablet {
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 48px;
  }
  @include desktop {
    max-width: 810px;
  }
}

.title {
  padding: 0;
  margin: 0 auto 30px auto;
  max-width: calc(100% - 30px);
  width: 100vw;
  @include body1-mobile(#fff);
  text-align: center;
  text-transform: none;
  margin-bottom: 30px;
  @include tablet {
    font-size: 16px;
    line-height: 24px;
  }
  @include desktop {
    max-width: 710px;
  }
}

.btn {
  margin: 0 auto;
  display: block;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    z-index: -1;
    display: block;
    border-radius: 10px;
    background-color: #0441b8;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: calc(100% - 10px);
    margin: 0 auto;
    transition: 0.3s;
  }
  @include hover {
    box-shadow: 0px 4px 20px rgba(3, 103, 252, 0.5);
    &::before {
      bottom: 0;
    }
  }
  @include tablet {
    width: auto;
    padding: 19px 33px;
    font-size: 16px;
    line-height: 22px;
  }
}
