.container {
}

.tabs {
  max-width: calc(100% - 30px);
  width: 100vw;
  margin: 10vh auto 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10vh;
}

.tab {
  @include buttonDefault;
  color: #fff;
  background-color: #0057ff;
  margin: 0;
  margin-bottom: 30px;
  max-height: 100px;
  height: 100vh;
  max-width: 108px;
  position: relative;
  width: 33%;
  &:nth-child(1),
  &:nth-child(4),
  &:nth-child(7) {
    transform: translateY(40px);
  }
  &:nth-child(2),
  &:nth-child(5),
  &:nth-child(8) {
    transform: translateY(20px);
  }
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    position: absolute;
    background-color: #0057ff;
    top: 0;
    transform: translateY(-100%) skewY(-8deg);
    transform-origin: top right;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    position: absolute;
    background-color: #0057ff;
    bottom: 0;
    transform: translateY(100%) skewY(-8deg);
    transform-origin: top left;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.container_btn {
  width: 100%;
  height: 100%;
}

.text {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  transform: rotate(-10deg);
}
