.page {
  padding-top: 20px;
  background-color: #1c1c1c;
  overflow: auto !important;
  @include tablet {
    background: linear-gradient(to right, #1c1c1c 50%, #0057ff 50%);
    padding-bottom: 50px;
  }
}
.container {
  max-width: calc(100% - 30px);
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  @include tablet {
    max-width: 100%;
    // width: 100%;
  }
  @include desktop {
    max-width: 90vw;
    padding: 40px;
    margin: auto;
  }
}

.block_list {
  display: block;
  margin: 46px auto 28px;
}

.head {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
