.container {
  max-width: calc(100% - 30px);
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  // overflow: hidden;
  padding: 0;
  @include tablet {
    max-width: 680px;
  }
  @include desktop {
    max-width: 90vw;
    padding: 40px;
    margin: auto;
  }
}

.company {
  padding: 0;
  margin: 0;
  font-family: "The Breakdown";
  text-transform: capitalize;
  font-size: 44px;
  line-height: 49px;
  @include tablet {
    font-size: 70px;
    line-height: 77px;
  }
}

.dark {
  color: #fff;
}

.digital {
  color: #0057ff;
  margin-left: 5px;
  @include tablet {
    margin-left: 15px;
  }
}

.description {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 20px;
  position: relative;
  @include body3-mobile(#fff);
  text-transform: capitalize;
  &::before {
    content: "";
    display: block;
    background-color: #fff;
    max-width: 1px;
    width: 1px;
    height: 24px;
    margin-right: 20px;
    @include tablet {
      height: 34px;
    }
  }
  @include tablet {
    @include body3(#fff);
  }
}

.show_screens {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  transition: 0.3s;
  @include hover {
    opacity: 0.5;
  }
}
