.container {
  max-width: 100%;
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  padding: 40px;
  overflow: hidden;
}

.logo {
  height: 111px;
  max-width: 249px;
  width: 249px;
}

.logo_wrapper {
  height: 111px;
  max-width: 249px;
  width: 249px;
}
