.page {
  background-color: #1c1c1c;
  overflow: auto !important;
  padding-top: 20px;
  @include tablet {
    padding: 0;
    background: linear-gradient(to right, #0057ff 50%, #1c1c1c 50%);
  }
}

.canvas {
  @include tablet {
    display: block;
    max-width: 50vw;
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
  }
}
.container {
  max-width: calc(100% - 30px);
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  @include tablet {
    max-width: 100%;
    // width: 100%;
  }
  @include desktop {
    max-width: 90vw;
    padding: 40px;
    margin: auto;
  }
}

.block_list {
  display: block;
  margin: 46px auto 28px;
}

.head {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  @include desktop {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    max-width: 810px;
    margin-left: auto;
    margin-right: auto;
  }
}

.content {
  @include tablet {
    display: flex;
    justify-content: space-between;
    max-width: 901px;
    margin: 0 auto;
  }
}

.image {
  width: 100%;
  height: 100%;
}

.image_wrapper {
  display: none;
  @include tablet {
    display: block;
    max-width: calc(50% - 35px);
    width: 100vw;
    height: 281px;
    background-color: #fff;
    margin: 0;
  }
}

.content_text {
  font-size: 14px;
  line-height: 18.5px;
  opacity: 0.8;
  color: #fff;
  @include tablet {
    max-width: calc(50% - 35px);
    margin-top: 0;
  }
}

.dark {
  @include tablet {
    color: #1c1c1c;
  }
}

.digital {
  @include tablet {
    color: #fff;
  }
}
