.wrapper {
  padding: 70px 0;
  overflow: hidden;
  height: auto;
}

.slider {
  overflow: visible !important;
}

.slide {
  min-width: 200px !important;
  max-width: 200px !important;
  overflow: visible !important;
  top: 24px;
  text-align: center;
}

.line {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  opacity: 0.3;
}

.spot {
  min-width: 200px;
  max-width: 200px;
  position: relative;
  padding-top: 24px;
  width: 100%;
  transition: 0.3s;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  &::after {
    transition: 0.3s;
    content: "";
    position: absolute;
    height: 14px;
    max-width: 14px;
    width: 100vw;
    background-color: #fff;
    border-radius: 50%;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
  }

  &_active {
    top: 30px;
    transition: 0.3s;
    &::after {
      height: 34px;
      max-width: 34px;
      top: -45px;
      background-color: #0057ff;
    }
  }
}
