.nav {
  align-items: flex-start;
  position: relative;
  margin-left: auto;
  display: none;
  @include desktop {
    position: relative;
    z-index: 2;
    display: flex;
  }
}

.nav_btn {
  @include buttonDefault;
  cursor: pointer;
  transition: 0.5s;
  padding-right: 33px;
  @include body2(#fff);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  &:last-of-type {
    padding-right: 0;
  }
  @include hover {
    opacity: 0.5;
  }
}
